<!DOCTYPE html>
<html>
<head>
    <title>Visualization of clusters</title>
    <style>

    </style>
</head>
<body>
  <header>
      <form action="/" method="get">
        <button type="submit">Return to main menu</button>
    </form>
  </header>
    <h1  style="text-align:center;">Visualization of Clusters</h1>
  <h2 style="text-align:center;"> Technique used: {{technique}} <br> Number of clusters: {{num_clusters}} <br> Visualized cluster: {{cluster}} </h2>
    <main>

    <div>
        {{ table }}
    </div>
    </main>



</body>

</html>
